/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Fonts */
html {
  font-family: sans-serif;
}

/* Layout */

body {
  min-height: 100vh;
  box-sizing: border-box;
  border-top: 2em solid #8a2a2f;
}
body > nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  text-align: right;
  color: white;
  text-transform: lowercase;
  padding-right: 2em;
}
  body > nav::before {
    content: "jump to: ";
  }
  body nav a:not(:last-of-type)::after {
    content: " / ";
    font-weight: normal;
  }
section {
  padding: 1em;
}
  section + section {
    padding-top: 0;
  }
#testimonials article:nth-child(n+5) {
  display: none;
}

/* General styles */

h2 {
  padding: .5em 1em;
  font-size: 1em;
  text-align: center;
  border-bottom: .5em solid #f6e55c;
}
a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

/* Per-section styles */

#book {
  text-align: center;
  background-color: #fffcc5;
}
#cover {
  max-height: 50vh;
  max-width: 100%;
  margin-bottom: 2em;
  border: 3px solid #8a2a2f;
}
#book h1 {
  margin: 0;
  font-family: sans-serif;
}
#book p {
  text-align: justify;
  hyphens: auto;
}

#features .feature {
  border-left: 1px solid #f6e55c;
  padding-left: 1em;
}
  #features .feature + .feature {
    margin-top: 1.5em;
  }
  #features article footer {
    text-align: left !important;
  }

#testimonials > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em 2em;
}
  #testimonials article {
    max-width: 1fr;
    flex: 1 1 17em;
    display: flex;
    flex-flow: column;
  }
  #testimonials article > div {
    flex-grow: 1;
  }
  #testimonials article > div {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 0 1em;
  }
  #testimonials article footer p::before {
    content: "— ";
  }

#errata article {
  border-bottom: 1px solid #f6e55c;
}
#testimonials article footer, #errata article footer, #features article footer {
  padding: .2em .5em;
  font-size: small;
  text-align: right;
  color: #999;
}
  #testimonials article footer p, #errata article footer p, #features article footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  #testimonials article footer a, #errata article footer a, #features article footer a {
    font-weight: normal;
  }

#errata h3 {
  font-size: 1em;
  color: #888;
  position: relative;
  /* for nicer anchoring */
  padding-top: 1em;
  margin-top: 0;
}
  #errata h3:target {
    color: red;
  }
  #errata h3:target::before {
    content: "»";
    position: absolute;
    left: -17px;
    padding-right: 10px;
  }
  #errata h3:target::after {
    content: "«";
    padding-left: 1ex;
  }
  #errata h3 a:hover::before {
    position: absolute;
    left: -25px;
    padding-right: 10px;
    content: '\2002\00a7\2002';
  }
  #errata article > div {
    padding: .5em 1em;
    background: #fafafa;
  }
#errata-note {
  background: #eee;
  padding: 1em;
  border: 1px solid #888;
}

pre {
  overflow-x: auto;
}



/* 8a2a2f */
/* fffcc5 */
/* 0d0c0c */
/* f6e55c */
/* fafafa */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 50em) {
  body {
    display: grid;
    grid-column-gap: 1.5em;
    padding-right: 1.5em;
    grid-row-gap: 1em;
    grid-auto-columns: 20em minmax(0, 1fr);
    grid-auto-flow: column;
    border-bottom: 100vh #fffcc5 solid;
  }
  section {
    padding: 0;
  }
  #book {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* manual padding to get background color */
    padding: 1em 1.5em;
    min-height: calc(100vh - 2em);
  }
  #more {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #testimonials {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #features {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 0 1.5em;
  }
  #errata {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 0 1.5em;
    padding-bottom: 1.5em;
  }
}
@media only screen and (min-width: 70em) {
  body {
    grid-auto-columns: 20em minmax(0, 1fr) 20em;
  }
  #book {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 1em 2em;
  }
  #testimonials {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
    #testimonials article:nth-child(n+5) {
      display: block;
    }
    #testimonials article:nth-child(n+7) {
      display: none;
    }
  #more {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #features-link {
    display: none;
  }
    #features-link::after {
      display: none;
    }
  #features {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
    padding-bottom: 1.5em;
  }
  #errata {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-right: 0;
  }
}
@media only screen and (min-width: 90em) {
  body {
    grid-column-gap: 2em;
    grid-row-gap: 1.5em;
    grid-auto-columns: minmax(0, 1.5fr) minmax(0, 3fr) minmax(0, 2fr);
  }
  #book {
    padding: 2em 3em;
    grid-row-end: 4;
  }
  #testimonials {
  }
    #testimonials article:nth-child(n+7) {
      display: block;
    }
  #more {
  }
  #features {
  }
  #errata {
    grid-column-start: 2;
    padding: 0;
    padding-bottom: 1.5em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

