---
layout: default
---

<nav>
  <a href="#features" id="features-link">updates since release</a>
  <a href="#errata">errata</a>
</nav>

<section id="book">
<img src="{{ site.url }}/RustforRustaceans_cover.png" alt="Rust for Rustaceans book cover" id="cover">
<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>

<p>
You can buy the book <a href="https://nostarch.com/rust-rustaceans">directly
from the publisher</a>, which nets you the ebook for free if you get
the print book, or you can get it from <a
href="https://smile.amazon.com/dp/1718501854">Amazon</a> or a <a
href="https://www.google.com/shopping/product/1147408932313014600/offers">number
of other retailers</a>.
</section>

<section id="more">
<h2>More about the book</h2>
{% capture featured %}{% include featured.md %}{% endcapture %}
{{ featured | markdownify }}
</section>

<section id="testimonials">
<h2>What readers say</h2>
<div>
{% for t in site.testimonials reversed %}
<article class="testimonial">
<div>{{ t.content | markdownify }}</div>
<footer><p><a href="{{ t.source }}">{{ t.from }}</a></p></footer>
</article>
{% endfor %}
</div>
</section>

<section id="features">
<h2>Updates since the book's release</h2>
{% for feature in site.features reversed %}
<article class="feature">
{{ feature.content | markdownify }}
{% if feature.see %}
<footer>
{% for see in feature.see %}
<p>» See also page {{ see.page }} (chapter {{ see.chapter }}), "{{ see.section }}".<p>
{% endfor %}
{% endif %}
</article>
{% endfor %}
</section>

<section id="errata">
<h2>Errata</h2>
<p id="errata-note">
If you spot what you believe to be an error in the book, please submit a PR
adding it to the <code>_errata</code> folder in
<a href="https://github.com/jonhoo/rust-for-rustaceans.com">the repository for this site</a>
(<a href="https://github.com/jonhoo/rust-for-rustaceans.com/pull/2">example</a>).
</p>
{% for error in site.errata %}
<article class="error">
<h3 id="{{ error.path | remove: '.md' | slugify }}">
<a href="#{{ error.path | remove: '.md' | slugify }}">p{{ error.page }} (ch. {{ error.chapter }})</a>
</h3>
<div>{{ error.content | markdownify }}</div>
<footer><p>
{% if error.source %}
<a href="{{ error.source }}">
{% endif %}
  Reported by {{ error.reporter }} on {{ error.date | date: "%b %e, %Y" }}.
{% if error.source %}
</a>
{% endif %}
</p></footer>
</article>
{% endfor %}
</section>
